@charset "UTF-8";


header nav #gnb {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    z-index: 999;
}

header nav #gnb .dept1 {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px 30px;
}

header nav #gnb .dept1 .inner-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    /* transform: translateX(-25%); */
    padding-top: 60px;
    display: none;
    text-align: center;
}

header nav #gnb .dept1 .inner-menu>li>a {
    font-size: 14px;
}

header nav #gnb .dept2 {
    width: 100%;
    padding: 10px 0;
}

header nav #gnb .dept2>a:hover,
header nav #gnb .dept2>a:active,
header nav #gnb .dept2>a:focus {
    font-weight: 700;
}

header .search-group .icon-group .burger {
    margin-left: auto;
    position: relative;
    z-index: 9999;
}

header .search-group .icon-group .burger.active div:nth-child(1) {
    display: none;
}

header .search-group .icon-group .burger.active div:nth-child(2) {
    transform: rotate(130deg);
}

header .search-group .icon-group .burger.active div:nth-child(3) {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
}

header .search-group .icon-group .burger a div {
    position: relative;
    background: #000;
    width: 20px;
    height: 3px;
    margin: 5px;
    transition: all 0.5s;
    border-radius: 3px;
}

header .search-group .icon-group .menu_open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}

header .search-group .icon-group .menu_open>ul {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

header .search-group .icon-group .menu_open>ul li {
    width: 20%;
}

.hd_bg {
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 0;
    left: 0;
    z-index: -100;
}

/*====================================================
header
======================================================*/

header {
    position: fixed;
    z-index: 999;
    padding: 32px;
    margin-bottom: 30px;
    background: transparent;
    transition: background 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    ;
}

header.active {
    background: #fff;
}

header,
header nav ul,
header .search-group,
header .search-group .icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    width: 10%;
}

header h1 .logo-img img {
    max-width: 100%;
}

header nav ul li:not(:last-child) {
    margin-right: 60px;
}

header .search-group input {
    margin-right: 20px;
}

header .search-group .icon-group .img-box {
    width: 50%;
}

header .search-group .icon-group a {
    margin-right: 10px;
}

header .search-group .icon-group .img-box a img {
    width: 70%;
    max-width: 100%;
}

header .search-group input {
    border: initial;
    border-bottom: 1px solid #000;
    outline: 0;
    padding: 3px;
}

header .search-group input::placeholder {
    font-size: 13px;
    color: #00000080;
}


/*==========================
공통 
============================*/
.container {
    max-width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

main .section1 .banner-img img {
    max-width: 100%;
    object-fit: contain;
}

main .section2 .tit-box,
main .section3 .tit-box,
main .section4 .tit-box {
    padding: 96px 33px;
}

main .section2 .tit-box h3,
main .section3 .tit-box h3,
main .section4 .tit-box h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
}

main .section2 .article-wrap .article-group .article-box>a img,
main .section3 .article-wrap .article-group .article-box>a img,
main .section4 .article-wrap .article-group .article-box>a img {
    max-width: 100%;
}

main .section2 .article-wrap .article-group .article-box:first-child>a:first-child::before,
main .section3 .article-wrap .article-group .article-box:first-child>a:first-child::before {
    content: '1위';
    position: absolute;
    top: 0;
    left: 0;
    background: #D00A2C;
    color: #fff;
    padding: 10px 15px;
}

main .section2 .article-wrap .article-group .article-box:nth-child(2)>a:first-child::after,
main .section3 .article-wrap .article-group .article-box:nth-child(2)>a:first-child::after {
    content: '2위';
    position: absolute;
    top: 0;
    left: 0;
    background: #ff4000;
    color: #fff;
    padding: 10px 15px;
}

main .section2 .article-wrap .article-group .article-box .txt-box,
main .section3 .article-wrap .article-group .article-box .txt-box,
main .section4 .article-wrap .article-group .article-box .txt-box {
    margin-left: 20px;
}

main .section2 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::before,
main .section3 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::before {
    content: '인기상품';
    position: absolute;
    max-width: 20%;
    height: 20px;
    padding: 0 1.5px;
    line-height: 20px;
    background: #ff4000;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-left: 70px;
}

main .section4 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::before {
    content: '88특가';
    position: absolute;
    max-width: 20%;
    height: 20px;
    padding: 0 1.5px;
    line-height: 20px;
    background: #ff4000;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-left: 70px;
}

main .section2 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::after,
main .section3 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::after {
    content: '주문폭주';
    position: absolute;
    width: 13%;
    height: 20px;
    padding: 0 1.5px;
    line-height: 20px;
    background: #D00A2C;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-left: 65px;
}

main .section4 .article-wrap .article-group .article-box:first-child .txt-box p:last-child::after {
    margin-left: 85px;
}

main .section2 .article-wrap .article-group .article-box .txt-box>p:first-of-type,
main .section3 .article-wrap .article-group .article-box .txt-box>p:first-of-type,
main .section4 .article-wrap .article-group .article-box .txt-box>p:first-of-type {
    font-size: 14px;
    text-align: right;
    color: #ef987f;
    padding: 10px 0;
    letter-spacing: -1px;
}

main .section2 .article-wrap .article-group .article-box .txt-box>p:last-of-type,
main .section3 .article-wrap .article-group .article-box .txt-box>p:last-of-type,
main .section4 .article-wrap .article-group .article-box .txt-box>p:last-of-type {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

main .section2 .article-wrap .article-group .article-box .txt-box .price-box,
main .section3 .article-wrap .article-group .article-box .txt-box .price-box,
main .section4 .article-wrap .article-group .article-box .txt-box .price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

main .section2 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(1),
main .section3 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(1),
main .section4 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(1) {
    color: #ff4000;
    margin-right: 6px;
}

main .section2 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(2),
main .section3 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(2),
main .section4 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(2) {
    margin-right: 9px;
    font-weight: 600;
    letter-spacing: -1px;
}

main .section2 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(3),
main .section3 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(3),
main .section4 .article-wrap .article-group .article-box .txt-box .price-box p:nth-child(3) {
    color: #979797;
    font: inherit;
    font-weight: normal;
    font-size: 16px;
    text-decoration: line-through;
}

main .section5 {
    padding: 96px 0;
    text-align: center;
}

main .section5 button {
    width: 328px;
    border: 1px solid #C8CBD2;
    padding: 20px;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 36px;
}

main .section5 button span {
    color: #D00A2C;
    font-weight: 700;
}


main .section5 img {
    max-width: 100%;
    margin: auto;
}

main .section6 {
    margin-bottom: 30px;
}

main .section6,
main .section7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .section6 .left-box {
    margin-right: 60px;
}

main .section7 .right-box {
    margin-left: 60px;
}

main .section6 .right-box p:first-child,
main .section7 .left-box p:first-child {
    font-size: 42px;
    line-height: 52px;
    color: #222;
    font-weight: 700;
}

main .section6 .right-box p:last-child,
main .section7 .left-box p:last-child {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #333;
}

main .section6 .right-box button,
main .section7 .left-box button {
    padding: 13px 24px;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

main .section7-mo {
    display: none;
}

main .section8 {
    margin: 96px 0;
    padding: 96px 33px;
    background: #D00A2C;
    color: #fff;
    text-align: center;
}

main .section8 p:nth-child(1) {
    display: inline-block;
    font-weight: 400;
    font-size: 28px;
    margin: 0 auto 20px;
    letter-spacing: -1px;
    border-bottom: 2px solid #fff;
    line-height: 1.2;
    padding-bottom: 5px;
}

main .section8 p:nth-child(2) {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03px;
}

main .section8 p:nth-child(3) {
    padding: 16px 0 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
}

main .section8 button {
    display: inline-block;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.03px;
    margin-top: 50px;
    border: 1px solid #fff;
    color: #fff;
}

main .section8 .mo-br {
    display: none;
}

/*==========================
footer
============================*/
footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e4e4e4;
    padding: 60px 30px;
}

footer .content-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content-group .left-box,
footer .content-group .right-box {
    flex: 1;
}

footer .logo-img {
    width: 20%;
}

footer .logo-img img {
    width: 100%;
    max-width: 100%;
}

footer .left-box .top-box p {
    color: #777;
    font-size: 14px;
}

footer .content-group .left-box .middle-box p:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #777;
    padding-bottom: 8px;
    padding-top: 36px;
}

footer .content-group .left-box .middle-box p:last-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #555;
    padding-bottom: 15px;
}

footer .content-group .left-box .bottom-box {
    padding-bottom: 45px;
}

footer .content-group .left-box .bottom-box p {
    font-size: 14px;
    color: #555;
}

footer .content-group .left-box .icon-box {
    display: flex;
    flex-direction: row;
}

footer .content-group .left-box .icon-box .img-box {
    width: 4%;
}

footer .content-group .left-box .icon-box .img-box:not(:last-child) {
    margin-right: 20px;
}

footer .content-group .left-box .icon-box a img {
    max-width: 100%;
}

footer .content-group .right-box .ex-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

footer .content-group .right-box .ex-box p {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    color: #555;
    font-weight: 400;
    padding-right: 23px;
}

footer .content-group .right-box .ex-box p>span {
    font-size: 13px;
    line-height: 19px;
    color: #555;
    font-weight: 700;
}

footer .content-group .right-box .info-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

footer .content-group .right-box .info-box span {
    font-size: 14px;
    line-height: 18px;
    color: #777;
    font-weight: 400;
    padding-right: 23px;
    margin-bottom: 7px;
}

footer .content-group .right-box .ex-box p:not(:last-child)::after,
footer .content-group .right-box .info-box span:not(:last-child)::after {
    content: '|';
    position: absolute;
    padding-left: 10px;
}

footer .copy-box {
    padding-top: 25px;
    font-size: 12px;
    line-height: 19px;
    color: #555;
}

@media all and (max-width:1400px) {
    main .section6 .left-box {
        margin-right: 0;
    }

    main .section6,
    main .section7 {
        flex-direction: column;
    }

    main .section6 .left-box,
    main .section7-mo .left-box {
        margin-bottom: 60px;
    }

    main .section6 .right-box,
    main .section7-mo .right-box {
        text-align: center;
    }

    main .section7 {
        display: none;
    }

    main .section7-mo {
        display: block;
    }

    main .section6 {
        margin-bottom: 60px;
    }

    main .section7-mo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main .section7-mo .right-box p:first-child {
        font-size: 42px;
        line-height: 52px;
        color: #222;
        font-weight: 700;
    }

    main .section7-mo .right-box p:last-child {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: #333;
    }

    main .section7-mo .right-box button {
        padding: 13px 24px;
        border-radius: 4px;
        background-color: #1e1e1e;
        color: #fff;
        font-size: 17px;
        text-align: center;
        margin-top: 20px;
    }

}

@media all and (max-width:1080px) {

    header nav #gnb,
    header .search-group input {
        display: none;
    }

    header {
        border-bottom: none;
    }

    header h1 {
        width: 13%;
    }

    footer .content-group {
        flex-direction: column;
    }

    footer .content-group .left-box {
        margin-bottom: 30px;
    }
}

@media all and (max-width:960px) and (min-width:400px) {
    header h1 {
        width: 23%;
    }

    main .section6 .left-box,
    main .section7-mo .left-box {
        margin: auto;
    }

    main .section6 .left-box img,
    main .section7-mo .left-box img {
        width: 100%;
        margin-bottom: 60px;
    }

    main .section8 p:nth-child(1) {
        font-size: 20px;
    }

    main .section8 p:nth-child(2) {
        font-size: 38px;
    }

    main .section8 p:nth-child(3) {
        font-size: 15px;
    }

    main .section8 .mo-br {
        display: block;
    }

    footer .logo-img {
        width: 25%;
    }

    footer .content-group .left-box .icon-box .img-box {
        width: 7%;
    }
}